{% extends "base.html" %}
{%load static%}

{% block title %}
  My Blog
{% endblock %}
{%block css_files%}
    <link rel="stylesheet" href="{%static "blog/index.css"%}">
{%endblock%}

{% block content %}
<header id="main-navigation">
<h1><a href="{{ url_for('index') }}">My Blog</a></h1>
<nav>
    <a href =""> All Posts</a>
    <nav>
<header>
    <section id="welcome">
        <header>
            <img src="" alt="Welcome to the blog of Tom" />
            <h2> Tom's blog </h2>
        </header>
        <p> Welcome to my blog. Please feel free to read my posts and leave comments. </p>
    </section>
    <section id="latests-posts">
        <h2> My latest posts </h2>
        <ul>
            <li> 
                <article class="post">

            </li>
        </ul>
    </section>
{% endblock %}